.largeHeading {
    font-size: 60px;
    font-weight: 800;
    color:  #ffffff;
  
    @media only screen and (max-width: 768px) {
      font-size: 34px;
    }
  }
  .pagenotfound h1 {
      margin-top: 40px;
    }
  
    .pagenotfoundImage {
      display: unset;
      margin-top: 50px;
    }
  
    .pagenotfoundButton {
      margin: 50px 0;
    }
  
    @media only screen and (max-width: 768px) {
      h1 {
        margin-top: 100px;
      }
  
      .pagenotfoundImage {
        margin-top: 50px;
      }
  
      .pagenotfoundButton {
        margin: 50px 0;
      }
    }
    .primaryCTA {
        background-color: #3830ef;
        color: #ffffff;
        padding: 10px 30px;
        transform: scale(1);
        transition: all 0.2s ease-in-out;
      }