.submit-btn{
    color: #def2f1;
    padding: 12px;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    background-color: #17252a;
}
.submit-btn:hover{
    color: #17252a;
    background-color: #def2f1;

}
.links{
    margin-top: 50px;
    margin-bottom: 30px;
}
.links a{
    margin-right: 10px;
    margin-left: 10px;
    color: #def2f1;
}
label{
    color: #17252a;
    font-size: 20px;
    margin-top: 10px;
}
