.logo{
  color: #17252a;
  font-size: 35px;
  font-weight: 600;
}
ul li{
  padding: 12px 24px;
  font-size: 24px;
}
ul li a{
  margin: auto;
  color: #17252a !important;
}
ul li a:hover{
  color: #2b7a78 !important;
  font-weight: bolder;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("https://img.icons8.com/material-rounded/24/000000/menu--v1.png")
}
.navbar{
  background-color: #def2f1;
}
