.logo{
  color: #86c232;
  font-size: 35px;
  font-weight: 600;
  
}
ul li{
  padding: 12px 24px;
  font-size: 24px;
}
ul li a{
  margin: auto;
  color: #86c232 !important;
}
ul li a:hover{
  color: white !important;
}
.border-bottom{
  border-color: black !important;

}
.navbar-dark .navbar-toggler {
  color: #82c232;
  border-color:#82c232;
}
