.projects{
    background-color: #def2f1;
    margin-top: -100px;
    padding-top: 144px;
}
.projects h1{
    font-size: 32px;
    padding-bottom: 24px;
}
.projects h3{
    color: #def2f1;
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 10px;
}
.projects h1:after{
    margin-left: 0.5rem;
    background-color:#17252a;
    content: "";
    display: inline-block;
    height: 3px;
    width: 10%;
    position: relative;
    vertical-align: middle;
}
.projects h1:before{
    margin-right: 0.5rem;
    background-color: #17252a;
    content: "";
    display: inline-block;
    height: 3px;
    width: 10%;
    position: relative;
    vertical-align: middle;
}
.card{
    border-radius: 10px;
    margin: 0 0 24px;
    padding: 30px;
    background: #3aafa9;
}
.card p{
    font-size: 16px;
    margin: 0 0 16px;
    color: #17252a;
    line-height: 1.8;
    font-weight: 200;
}
.card .badge{
    text-transform: capitalize;
    background: #feffff;
    color: #17252a;
    margin: 0px 10px 6px 0px;
    padding:5px 10px 5px 5px;
    border-radius: 10px;
}
.card button{
    padding: 6px 12px;
    border: none;
    border-radius: 12px;
    color: #def2f1;
    background-color: #17252a;

}
.card button:hover{
    color :#17252a;
    background-color: #def2f1;
}

